<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32/32" href="{{url_for('static',filename='images/icon.png')}}">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"
</head>

<body>
    <section class="container">
        <h1>CHOOSE YOUR CONTINENT</h1>
        <section class="container-box">
            <div class="container1 container-asia lg">
                <h5>Covid-19</h5>
                <p>Asia has not been able to control covid like Bhutan! A small country landlocked.</p>

                <button class="button button-three"><a href="/Asia">Viewmore</a></button>
            </div>
        </section>
        <br>
        <section>
            <div class="container1 container-europe" >
                <p class='text'>Europe</p>
                <button class="button button-two">
                    Viewmore
                </button>
            </div>
        </section>
        <br>
        <section class="container-box">
            <div class="container1 container-na">
                <img class="pic" src="{{url_for('static',filename='')}}">
                <p class='text'>NA</p>
                <button class="button button-one" href="" type="button">
                    Viewmore
                </button>
            </div>
        </section>
        
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>